body {
    background: #fffffa;
    color: #333333;
    margin-top: 2rem;
}

.site-header .navbar-nav .nav-link {
    color: orange;
  }

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.site-header .navbar-nav .nav-link:hover {
    color: red;
}
.site-header .navbar-nav .nav-link:active {
    color: white;
}

.pagination {
    clear:both;
    position:relative;
    font-size:11px;
    text-align:center;
}

.pagination span, .pagination a {
    display:inline-block;
    margin: 2px 2px 2px 2px;
    padding:6px 9px 5px 9px;
    text-decoration:none;
    color: #ddd;
    background: #222;
}

.pagination .current{
    padding:6px 9px 5px 9px;
    font-weight: bold;
    background: orange;
}
