{% extends "weather/base.html" %}

{% block content %}
    {% for weather in weather %}
        <div class="col-md-4 mr-auto">
            <div class="card" style="margin-top:3rem">
                <h5 class="card-header" style="background-color:#facfaf">
                    {{ weather.city }}
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <ul>
                            <li>{{ weather.temperature }} °C</li>
                            <li>{{ weather.pressure }} Hpa</li>
                            <li>Looking {{ weather.sky }}</li>
                        </ul>
                    </p>
                </div>
            </div>        
        </div>
    {% endfor %}
{% endblock %}